soupsieve==2.7
shellingham==1.5.4
arrow==1.3.0
pydantic-settings==2.11.0
threadpoolctl==3.6.0
coloredlogs==15.0.1
uri-template==1.3.0
humanfriendly==10.0
pypdf==6.14.2
rfc3339-validator==0.1.4
pexpect==4.9.0
oauthlib==3.3.1
Pygments==2.19.1
pandas==2.2.3
GitPython==3.1.45
tomli==2.2.1
protobuf==5.29.4
fqdn==1.5.1
requests==2.32.5
idna==3.10
mtcnn==0.1.1
babel==2.17.0
traitlets==5.14.3
pybase64==1.4.3
tensorflow-io-gcs-filesystem==0.37.1
multidict==6.7.1
nest-asyncio==1.6.0
pyarrow==21.0.0
debugpy==1.8.14
distlib==0.3.9
setuptools==82.0.1
ptyprocess==0.7.0
flatbuffers==25.2.10
prometheus_client==0.21.1
isoduration==20.11.0
tinytag==2.2.1
pytz==2025.2
scipy==1.13.1
marshmallow==3.26.2
toml==0.10.2
matplotlib==3.9.4
joblib==1.5.1
pillow==11.2.1
overrides==7.7.0
parso==0.8.4
sentry-sdk==2.63.0
greenlet==3.2.5
importlib_metadata==8.6.1
webencodings==0.5.1
colorama==0.4.6
flask-cors==6.0.2
grpcio==1.71.0
tinycss2==1.4.0
zipp==3.21.0
pydeck==0.9.1
pyzmq==26.4.0
fonttools==4.57.0
astunparse==1.6.3
jupyterlab_widgets==3.0.14
beautifulsoup4==4.13.4
hf-xet==1.4.3
opt_einsum==3.4.0
anyio==4.9.0
defusedxml==0.7.1
SQLAlchemy==2.0.51
aiohttp==3.13.5
google-pasta==0.2.0
banks==2.4.4
tiktoken==0.13.0
propcache==0.4.1
PyPika==0.51.1
attrs==25.3.0
opentelemetry-semantic-conventions==0.62b1
termcolor==3.0.1
async-lru==2.0.5
torch==2.8.0
python-dotenv==1.2.1
blinker==1.9.0
tenacity==9.1.2
markdown-it-py==3.0.0
seaborn==0.13.2
build==1.4.4
pyparsing==3.2.3
aiosqlite==0.22.1
jupyter-console==6.6.3
jedi==0.19.2
opencv-python==4.13.0.90
typing-inspect==0.9.0
opentelemetry-exporter-otlp-proto-common==1.41.1
rpds-py==0.24.0
itsdangerous==2.2.0
jupyter==1.1.1
langsmith==0.4.37
patsy==1.0.1
gast==0.6.0
jupyter_client==8.6.3
asttokens==3.0.0
durationpy==0.10
plotly==6.1.2
scikit-learn==1.6.1
zstandard==0.25.0
pandocfilters==1.5.1
json5==0.12.0
googleapis-common-protos==1.75.0
fastjsonschema==2.21.1
exceptiongroup==1.2.2
jsonpatch==1.33
click==8.1.8
jsonpointer==3.0.0
tzdata==2025.2
appnope==0.1.4
typer==0.23.2
kubernetes==35.0.0
jupyter_server==2.15.0
pydantic==2.13.0
orjson==3.11.5
httpcore==1.0.9
mmh3==5.2.0
decorator==5.2.1
dirtyjson==1.0.8
tensorflow==2.20.0
numpy==2.0.2
cffi==1.17.1
fsspec==2025.10.0
virtualenv==20.30.0
jsonschema==4.23.0
tensorflow-metal==1.2.0
executing==2.2.0
nbformat==5.10.4
openai==2.44.0
async-timeout==4.0.3
sql==2022.4.0
stack-data==0.6.3
argon2-cffi==23.1.0
ipywidgets==8.1.6
sympy==1.14.0
PythonTurtle==0.3.2
dataclasses-json==0.6.7
torchvision==0.23.0
Werkzeug==3.1.3
Markdown==3.8
kiwisolver==1.4.7
jupyter_core==5.7.2
namex==0.0.9
nbconvert==7.16.6
referencing==0.36.2
wandb==0.26.1
certifi==2025.4.26
contourpy==1.3.0
watchfiles==1.1.1
Send2Trash==1.8.3
httptools==0.8.0
jupyter-lsp==2.2.5
jiter==0.16.0
nbclient==0.10.2
h11==0.16.0
gitdb==4.0.12
opentelemetry-sdk==1.41.1
Deprecated==1.2.18
sniffio==1.3.1
voila==0.5.8
psutil==7.0.0
torchinfo==1.8.0
regex==2026.1.15
mdurl==0.1.2
python-dateutil==2.9.0.post0
mpmath==1.3.0
jupyterlab_pygments==0.3.0
mistune==3.1.3
charset-normalizer==3.4.1
ipython==8.18.1
wcwidth==0.2.13
keras==3.10.0
notebook==7.4.1
jupyter-events==0.12.0
frozenlist==1.8.0
prompt_toolkit==3.0.51
tensorboard==2.20.0
striprtf==0.0.26
bcrypt==5.0.0
typing_extensions==4.15.0
aiosignal==1.4.0
platformdirs==4.3.7
libclang==18.1.1
packaging==25.0
jupyterlab_server==2.27.3
narwhals==1.43.0
urllib3==2.4.0
webcolors==24.11.1
jsonschema-specifications==2025.4.1
pycparser==2.22
cycler==0.12.1
Jinja2==3.1.6
uvicorn==0.39.0
pydantic_core==2.46.0
filelock==3.18.0
comm==0.2.2
pip==26.0.1
streamlit==1.47.1
statsmodels==0.14.4
pure_eval==0.2.3
tornado==6.4.2
distro==1.9.0
h5py==3.13.0
opentelemetry-api==1.41.1
xgboost==2.1.4
cachetools==6.1.0
rfc3986-validator==0.1.1
aiohappyeyeballs==2.6.1
python-json-logger==3.3.0
terminado==0.18.1
opentelemetry-proto==1.41.1
websockets==15.0.1
jupyterlab==4.4.1
requests-toolbelt==1.0.0
wrapt==1.17.2
networkx==3.2.1
Flask==3.1.0
argon2-cffi-bindings==21.2.0
nltk==3.9.2
keras-facenet==0.3.2
PyYAML==6.0.2
httpx==0.28.1
rich==14.0.0
matplotlib-inline==0.1.7
smmap==5.0.2
tqdm==4.67.3
tensorboard-data-server==0.7.2
onnxruntime==1.19.2
filetype==1.2.0
tokenizers==0.22.2
uvloop==0.22.1
jupyter_server_terminals==0.5.3
types-python-dateutil==2.9.0.20241206
bleach==6.2.0
pyproject_hooks==1.2.0
ml_dtypes==0.5.1
altair==5.5.0
ipykernel==6.29.5
typing-inspection==0.4.2
annotated-types==0.7.0
optree==0.15.0
uuid_utils==0.15.0
httpx-sse==0.4.3
eval_type_backport==0.2.2
opentelemetry-exporter-otlp-proto-grpc==1.41.1
griffe==1.14.0
widgetsnbextension==4.0.14
mypy_extensions==1.1.0
yarl==1.22.0
requests-oauthlib==2.0.0
importlib_resources==6.5.2
notebook_shim==0.2.4
annotated-doc==0.0.4
absl-py==2.2.2
huggingface_hub==1.8.0
websocket-client==1.8.0
MarkupSafe==3.0.2
future==0.18.2
six==1.15.0
wheel==0.37.0
altgraph==0.17.2
pip==21.2.4
macholib==1.15.2
setuptools==58.0.4
setuptools==80.9.0
pipenv==2025.0.4
